<div class="container my-5">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="text-dark mb-4">About this website</h1>
        <%= link_to "Back", root_path, class: "btn btn-link border border-primary bd-highlight mx-1" %>
    </div>

    <div>
        <p><span style="font-size: 2.5rem;">有</span>名シンガーYAZAWAさんのことを敬愛する管理人が、「少しでも楽しく英語を学べないか」「英語に興味を持つきっかけを作りたい」と考え制作したサイトとなります。</p>
    </div>
</div>