<header class="container">
    <div id="mainvisual">
        <div class="d-flex flex-column justify-content-center align-items-end h-100 p-5", style="width:100%;">
            <h1 class="text-white"><span style="font-size: 4rem;">YAZAWA</span>の名言を<span style="font-size: 3.5rem;">英語</span>で学ぶ</h1>
            <%= link_to "Let's get started it", categories_path, class: "btn btn-primary" %>
        </div>
    </div>
</header>