<div class="container my-5">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="text-dark mb-4">Admin|Categories</h1>
        <%= link_to "Back", admin_categories_path, class: "btn btn-link border border-primary" %>
    </div>
    <%= render "/admin/shared/form"%>
</div>